@charset "utf-8";

:root {
  --fundoclaro: #efeff5;
  --bordasuave: #d7d9d3;
  --textosuave: #c2b9b1;
  --destaque: #9b7c55;
  --botoes: #3e4556;
}

.roboto {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.oswald {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  background-color: var(--bordasuave);
  overflow-x: hidden;
}

header {
  width: 100%;
  height: auto;
  background: var(--textosuave);
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  gap: 10px;
}
header img {
  width: 200px;
  height: auto;
}
#menu-mobile {
  display: none;
}

#menu ul {
  display: flex;
  flex-flow: row nowrap;
  gap: 15px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

#menu ul li {
  list-style: none;
  font: 1.3em sans-serif;
  border-bottom: 2px solid var(--destaque);
  border-radius: 5px;
  padding: 5px;
}
#menu ul li:hover {
  border-bottom: 2px solid var(--botoes);
  transition: 0.5s;
  cursor: pointer;
}

header ul a {
  text-decoration: none;
  color: var(--botoes);
}

.btn-topo {
    position: fixed; 
    bottom: 20px; 
    right: 10px; 
    padding: 13px;
    z-index: 1000; 
    width: 45px;
    height: 45px;
    border-radius: 50%;
    text-align: center;
    line-height: 45px;
    font-size: 1.5em;
    border: 2px solid var(--botoes);
    display: none; 
    text-decoration: none; 
    transition: background-color 0.3s;
    opacity: 0.8;
    box-shadow: 0 4px 10px rgba(0,0,0,0.25);
}

.btn-topo:hover {
    background-color: var(--botoes); 
}

.btn-wpp {
    position: fixed; 
    bottom: 80px; 
    right: 10px; 
    z-index: 1000; 
    width: 45px;
    height: 45px;
    background-color: var(--destaque);
    color: var(--fundoclaro);
    border-radius: 50%;
    text-align: center;
    line-height: 45px;
    font-size: 1.5em;
    display: none; 
    transition: background-color 0.1s;
    opacity: 0.8;
    box-shadow: 0 4px 10px rgba(0,0,0,0.25);
}
#inicio {
  width: 90%;
  height: auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  margin: 10px auto;
  border-radius: 15px;
  box-shadow: #9b7c5594 0px 4px 10px;
}

#banner {
  background: url(../imagens/banner.webp) center center / cover no-repeat;
  width: 50%;
  height: auto;
  max-width: 1200px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

#sobre {
  width: 50%;
  max-width: 1000px;
  padding: 50px 20px;
  text-align: justify;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: var(--bordasuave);
  align-self: center;
}
#sobre h2 {
  text-align: center;
  margin-bottom: 50px;
  color: var(--destaque);
  font-family: oswald, sans-serif;
}
#sobre p {
  line-height: 1.5em;
  font-size: 1.2em;
  max-width: 800px;
  margin: 0 auto 20px auto;
  color: var(--botoes);
  font-family: roboto, sans-serif;
}
#sobre ul {
  margin: 20px;
  padding-left: 20px;
  list-style: none;
}
#sobre ul li {
  margin: 0 auto 20px auto;
  max-width: 800px;
  color: var(--botoes);
}
/* fim da seção sobre */

/* seção serviços */
#servicos {
  width: 95%;
  max-width: 1200px;
  margin: 10px auto;
  padding: 20px 10px;
  background-color: var(--fundoclaro);
  border-radius: 15px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.242);
}
#servicos h2 {
  color: var(--destaque);
  margin: 50px 20px;
  font-family: oswald, sans-serif;
}
.itens-servico {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 15px;
}
.item-servico {
  justify-self: stretch;
  padding: 10px;
  border-radius: 10px;
  width: 100%;
  text-align: center;
}
.item-servico p {
  font-weight: bold;
  color: var(--destaque);
  font-size: 1.3em;
  margin-bottom: 5px;
  font-family: roboto, sans-serif;
}
.item-servico:hover {
  background-color: var(--destaque);
  color: var(--fundoclaro);
}
.item-servico:hover p {
  transition: 0.8s;
}

.item-servico img {
  width: 100%;
  height: auto;
  border-radius: 15px;
  object-fit: cover;
}
/* fim da seção serviços */

/* seção contato */
#contato {
  width: 50%;
  min-width: 430px;
  margin: 10px auto;
  padding: 10px 0;
  text-align: justify;
  background-color: var(--fundoclaro);
  border-radius: 10px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.473);
}
#contato h2 {
  text-align: center;
  padding: 20px 0;
  color: var(--botoes);
  font-family: oswald, sans-serif;
}
#contato form {
  display: flex;
  flex-flow: column nowrap;
  gap: 15px;
  padding: 0 10px 20px 20px;
  font-family: roboto, sans-serif;
}
#contato form input {
  width: 80%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid var(--destaque);
  align-self: center;
  font-size: 1em;
}
#contato form textarea {
  height: 100px;
  width: 80%;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid var(--destaque);
  resize: none;
  align-self: center;
  font-size: 1em;
}
#contato form input[type="submit"] {
  width: 50%;
  background-color: var(--destaque);
  color: var(--fundoclaro);
  font-weight: bold;
  cursor: pointer;
}
#contato form input[type="submit"]:hover {
  background-color: var(--botoes);
  transition: 0.8s;
}
#contato p {
  text-align: center;
  margin-bottom: 10px;
  color: var(--botoes);
  font-family: roboto, sans-serif;
}
#contato label {
  font-weight: bold;
  color: var(--botoes);
  margin: 0 0 20px 30px;
}

/* fim da seção contato */

#depoimentos {
  width: 80%;
  max-width: 1200px;
  margin: 10px auto;
  padding: 50px 20px;
  text-align: justify;
  background-color: var(--fundoclaro);
  border-radius: 10px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.473);
}

/* seção localização */
#local {
  width: 95%;
  max-width: 600px;
  height: 50vh;
  margin: 10px auto 50px auto;
  padding: 10px;
  text-align: center;
  background-color: var(--fundoclaro);
  border-radius: 10px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.473);
}
/* fim da seção localização */

/* seção rodapé */
footer {
  width: 100%;
  height: auto;
  background: var(--destaque);
  text-align: center;
  padding: 10px 0;
}
footer p {
  color: var(--fundoclaro);
  margin: 5px 0;
  padding: 10px;
  font-family: roboto, sans-serif;
  font-size: 0.8em;
}
footer p a {
  text-decoration: none;
  color: var(--textosuave);
  font-weight: bold;
}
@media screen and (max-width: 800px) {
  /* seção responsiva menu */
  header {
    flex-flow: column nowrap;
    align-items: center;
  }
  header img{
    width: 150px;
  }
  #menu ul {
    display: none;
  }
  #menu-mobile {
    display: block;
    color: var(--botoes);
    font-size: 1.3em;
    align-self: center;
    cursor: pointer;
    text-align: center;
    padding: 10px;
  }
  #menu-mobile ul {
    display: none;
    flex-flow: column nowrap;
    gap: 1px;
    width: 100%;
    text-align: center;
  }
  #menu-mobile ul.aberto {
    display: flex;
  }
  #menu-mobile ul li {
    border-bottom: 2px solid var(--destaque);
    list-style: none;
    width: 100%;
    border-radius: 5px;
    padding: 5px;
  }
  #menu-mobile ul li:hover {
    background-color: var(--fundoclaro);
    transition: 0.8s;
  }
  #menu-mobile i:hover {
    color: var(--fundoclaro);
    transition: 0.8s;
  }

  /* fim da seção responsiva menu */

  #inicio {
    flex-flow: column nowrap;
  }
  #banner {
    width: 100%;
    height: 300px;
    max-width: 600px;
    margin: 10px auto;
    border-top-left-radius:10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0;
    box-shadow: #9b7c5594 0px 4px 10px;
  }
  #sobre {
    width: 90%;
    max-width: 600px;
    height: 50%;
    margin: 10px auto;
    padding: 20px;
  }

  .itens-servico {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    gap: 10px;
  }

  .item-servico {
    background-color: var(--fundoclaro);
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
  }
  .item-servico:hover {
    background-color: var(--destaque);
    color: var(--fundoclaro);
    transition: 0.8s;
  }
  .item-servico img {
    width: 90%;
    height: 80%;
    margin: 10px 0;
    border-radius: 5px;
  }
  .item-servico p {
    font-weight: bold;
    color: var(--botoes);
    height: auto;
  }
  #contato{
    width: 90%;
    min-width: 0;
  }
}